@charset "utf-8";

//-----variables configuration-----
//ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Meiryo, Helvetica, sans-serif;
$fontfamily:\30d2 \30e9 \30ae \30ce \89d2 \30b4 \20 \50 \72 \6f \20 \57 \33 , Hiragino Kaku Gothic Pro, Meiryo, Arial, Osaka, sans-serif;
//ヒラギノ明朝 Pro W6, Hiragino Mincho Pro, HGS明朝E, ＭＳ Ｐ明朝, serif;
$fontfamily2:\30d2 \30e9 \30ae \30ce \660e \671d \20 \50 \72 \6f \20 \57 \36 , Hiragino Mincho Pro , \48 \47 \53 \660e \671d \45 , \ff2d \ff33 \20 \ff30 \660e \671d , serif;

$color: #333;
$default_fontsize: 16px;
$default_lineheight: 1.8;
$baseMargin: 20px;
$line_padding: ($default_lineheight - 1) / 2 + em;
@mixin marginBottom($baseMargin:20px,$default_fontsize:16px,$default_lineheight:1.8){
	margin-bottom: calc(#{$baseMargin} - ((#{$default_fontsize} * #{$default_lineheight}) - #{$default_fontsize}) / 2);
}

$mobile_width: 375px;
$landscape_width: 768px;
$bleackpoint-mobile: 640px;
$pc_width: 960px;
$pc_min-width: $landscape_width + 1;
$mediaquery_condition: "max-width:" + $bleackpoint-mobile;

$theme_color: #2b2b2b;	//link color
$theme_color2: #2b2b2b;	//border color
$base_margin: 8px;
$opacity: 0.75;

$prefix: -webkit-, -moz-, -ms-, -o-, '';

$temp_img_dir: "../images/";

@mixin disp-flexbox{
	display: flex;
}

//-----functions-----
//bgPosV
//get background-postion vertical value
@function bgPosV($fontsize, $imgheight, $lineheight:$default_lineheight){
	@return (($fontsize * $lineheight - $imgheight) / 2)/$fontsize + em;
}

//retinaImg
//get image size for retina
@function retinaImg($value){
	@return round($value / 2);
}

//fitText
//inline block to fit the text
@function fitText($fontsize:$default_fontsize, $lineheight:$default_lineheight){
	@return ($fontsize * $lineheight - $fontsize) / 2;
}

//excludePrefix
@function excludePrefix($excludes){
	@if($excludes != false){
		$tmp:();
		@each $v in $prefix{
			$n:index($excludes, $v);
			@if($n==false){
				$tmp:join($tmp, $v);
			}
		}
		@return $tmp;
	}@else{
		@return $prefix;
	}
}


//-----mixins-----
//joinPrefix
@mixin joinPrefix($property, $value, $excludes){
	@if($excludes != false){
		$tmp:();
		@each $v in $prefix{
			$n:index($excludes, $v);
			@if($n==false){
				$tmp:join($tmp, $v);
			}
		}
		@each $v in $tmp{
			#{$v + unquote($property)}:unquote($value);
		}
	}@else{
		@each $v in $prefix{
			#{$v + unquote($property)}:unquote($value);
		}
	}
}
// prefix
@mixin prefixes($property, $value) {
		@each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
			#{$prefix}#{$property}: $value;
		}
}

//mediaquery
@mixin mediaquery($condition:$mediaquery_condition) {
	@media screen and ($condition){
		@content;
	}
}
//clearfix
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

//input text style
@mixin input_text_style(){
	@include appearance(none);
	font-size: em(16,$default_fontsize);
	border: 1px solid $theme_color2;
	background-color: #fff;
	// border-radius: 4px;
	// @include box-shadow(1px 2px 4px rgba(0, 0, 0, .1) inset);
	@include box_sizing("border-box");
}

//background propaties with background-size
@mixin bg($url, $position, $repeat, $size){
	background-image:$url;
	background-position:$position;
	background-repeat:$repeat;
	background-size:$size;
}
